body {
    background: #1a1a1a;
    font-family:"Verdana";
    color:#fff
}

.servo-title {
  color: #d64937;
  font-weight: 700;
}

.app-info {
  width: 80%;
  display: inline-block;
  background-color: #d64937;
  color: #fff;
  font-size: 13px;
  padding: 15px;
  border-bottom: 6px solid #942c1e;
  margin-bottom: 60px;
}

.student-info {
  display: inline-block;
  width: 48px;
  float: right;
  background-color: #942c1e;
  height: 80px;
  position:absolute;
  top: 130px;
}

.slide-student-info {
  display: inline-block;
  width: 48px;
  height: inherit;
  float: right;
  background-color: #6a1f16;
}

.student-information {
  display: inline-block;
  height: inherit;
  float: left;
  width: 160px;
  color: #fff;
  padding:0;
  margin: 0;
  padding-left:40px;
  padding-top: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.slide-student-info:hover {
  cursor: pointer;
}

.right-arrow-img {
  margin: 29px 0 0 12px;
}

.zone-title {
    font-size:26px;
    text-align: center;
    padding-bottom: 20px;
}

.zone-setpoint {
    font-size:42px
}

.parameter-container {
  width: 100%;
  height: 45px;
  padding-bottom: 15px;
}

#parameter-image-value {
  display: inline-block;
}

.parameter-image {
  display: inline-block;
  float: left;
}

.parameter-value {
  display: inline-block;
  float:left;
  margin-top:5px;
}

.block {
    margin: 0px auto;
    max-width:392px;
    padding:20px;
    margin-top:50px;
    text-align:left;
}

#toggle {
    font-size:22px;
    color:#fff;
    background-color:#d64937;
    border:0;
    padding:10px;
    cursor:pointer;
    text-decoration:none;
    display: block;
    margin:auto;
    margin-top:10px;
    margin-bottom: 20px;
}

#relay1 {
    font-size:22px;
    color:#fff;
    background-color:#555;
    border-radius: 12px;
    border:0;
    padding:10px;
    cursor:pointer;
    text-decoration:none;
}
#relay2 {
    font-size:22px;
    color:#fff;
    background-color:#555;
    border-radius: 12px;
    border:0;
    padding:10px;
    cursor:pointer;
    text-decoration:none;
}

#relay3 {
    font-size:22px;
    color:#fff;
    background-color:#555;
    border-radius: 12px;
    border:0;
    padding:10px;
    cursor:pointer;
    text-decoration:none;
}

.statusView {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#E9E9E9; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }
.statusViewAlert {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#F8B584 !important; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }

.btn-medium {
    font-size:18px;
    color:#fff;
    background-color:#555;
    cursor:pointer;
    text-decoration:none;
    border:0;
    margin-right:-3px;
    padding-top:1px;
    padding-bottom:1px;
}

.OK{
    color:green;
 }

.ERROR{
    color:red;
 }

.btn-small {
    font-size:12px;
    color:#fff;
    background-color:#555;
    cursor:pointer;
    text-decoration:none;
    border:0;
    margin-right:-3px;
    padding-top:1px;
    padding-bottom:1px;
}

.btn-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-center {
    border-radius: 0px;
}

.slider {
    position: relative;
    width:100%;
    background-color:#fff;
    height:22px;
    margin-top:10px;
}

.slider-segment {
    position: absolute;
    background-color:#ff9600;
    height:100%;
    border-left: 1px solid #fff;
    border-radius: 5px;
}

.slider-label {
    position: absolute;
    color:#fff;
    margin-top:3px;
    margin-left:8px;
    font-weight:bold;
    text-shadow: 1px 1px rgba(200,200,200,0.5);
    font-size:12px;
    pointer-events: none;
}

.slider-button {
    position: absolute;
    top:0px;
    width:20px;
    height:100%;
    margin-left:-10px;
    margin-top:2px;
    cursor:pointer;
}

#slider-segment-temperature {
    width:35px;
}

input[type=text] {
    width:36px;
    border:0px;
    border-bottom: 1px solid #000;
    font-size:14px;
    color:#333;
    text-align:right;
}

#slider-segment-blank {
    height:20px;
    font-size:14px;
}

#timemarker {
    position:absolute;
    background-color:rgba(0,0,0,0.15);
    width:2px;
    height:22px;

    margin-top:0px;
    margin-left:-1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    pointer-events: none;
    border-left: 1px solid #fff;
}

#vel_slider_values {
  width: 100%;
  background: yellow;
}

.ui-slider {
  background-color: #942c1e !important;
  border: none !important;
  margin: 10px 0 10px 0;
}

.ui-slider-handle {
  background-color: #d64937 !important;
  border-radius: 50% !important;
  border: none !important;
  width: 24px !important;
  height: 24px !important;
}

.ui-slider-handle:focus {
  outline:0;
}

.ui-slider-handle:hover {
  cursor: pointer !important;
}

button:focus {
  outline:0;
}

.slider_values {
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: left;
}

.motor-data {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: #bfbfbf;
  margin-bottom: 60px;
}

.data-row {
  border-bottom: 1px solid grey;
}

.data-row:hover {
  background-color: #942c1e;
  color: #fff;
  cursor: pointer;
}

.data-70 {
  width: 70%;
}

.data-30 {
  width: 30%;
}

.padded {
  padding: 10px 0 10px 0;
}

.left-padding {
  padding-left: 10px;
}

.text-left {
  text-align: left;
}

#zero {
  text-align: center;
}

#max {
  text-align: right;
}

#current-state {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
